:root {
  /* --dark: #1e1e1e; */
  --dark: #0B0B0B;
  --white: #CFC5C5;
  --darkBlue: #122848;
  --mustard: #A48E1A;
  --waterGreen: #33A093;
  --darkRed: #5D1212;
  --lightWaterGreen: #1EFFF2;
  --darkGray: #343434;
  --lightGrey: #939393;
}